.mail-container {
	display: flex;
	flex-flow: space-evenly;
	margin: 20px 100px 20px 60px;
}
.content-list {
	max-width: 100%;
}
.create-email {
	display: flex;
	flex-flow: space-evenly;
}
.create-email-form {
	padding-left: 20px;
}
.mail-body {
	padding-left: 20px;
	width: 60%;
}
.bottom-padding {
	padding-bottom: 15px;
}
.sidebar {
	padding: 20px;
	background: #F5F5F5;
}
.btn-position {
	padding: 5px;
	width: 150px;
}
.empty-list {
	position: relative;
	top: 50px;
	left: 150px;
}
.email-list {
	width: 60%;
	max-height: 700px;
	margin-bottom: 20px;
	overflow:scroll;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
}
.td {
    width: 80%;
    padding: 10px;
	border-bottom: 1px solid #ddd;
	color:#575d5c
}
.email-link:hover {
	text-decoration: none;
}
.email-list:visited {
    background-color: cyan;
}
.button-group {
	display: flex;
}
.second-btn {
	padding-left: 10px;
}
